<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <input type="checkbox" class="hidden toggle" id="menu-control">
      {{- partial "header" . }}
      <main class="main-container flex">
        {{- block "main" . }}{{- end }}
      </main>
        {{- partial "menu" . }}
        {{- partial "footer.html" . -}}
    </body>
</html>
