{{- define "main" }}
    <div class="home-page heading-container">
      <div class="flex justify-start home-page title-container">
        <h1>{{ partial "page-title" . }}</h1>
        <div class="home-page title-break"></div>
      </div>
      <h2>{{ .Params.subTitle }}</h1>
    </div>
    <div class="page">
      {{- .Content }}
    </div>
    <div>
      {{- range first 10 .Site.RegularPages }}
          {{- .Render "summary" }}
      {{- end }}
    </div>
{{- end -}}
