{{- define "main" }}
    <div class="heading-container">
      <div class="flex justify-start title-container">
        <h1>{{ partial "page-title" . }}</h1>
        <div class="title-break"></div>
      </div>
      <h2>{{ .Params.subTitle }}</h1>
    </div>
    <div class="page{{ if .Param "Template" }} hidden {{ end }}">
      {{- .Content }}
    </div>
    <div>
      {{- range first 10 .Site.RegularPages }}
          {{- .Render "summary" }}
      {{- end }}
    </div>
{{- end -}}
