/* AmaticSC-regular - latic */
@font-face {
  font-family: 'AmaticSC';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/amatic/AmaticSC-Regular.woff2') format('woff2'),
       url('fonts/amatic/AmaticSC-Regular.woff') format('woff');
}

/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto-Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/noto-sans/NotoSans-Regular.woff2') format('woff2'),
       url('fonts/noto-sans/NotoSans-Regular.woff') format('woff');
}

/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto-Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('fonts/noto-sans/NotoSans-Bold.woff2') format('woff2'),
       url('fonts/noto-sans/NotoSans-Bold.woff') format('woff');
}

body {
  font-family: 'Noto-Sans', sans-serif;
}

.title-container {
  h1 {
    font-family: 'AmaticSC';
  }
}

.menu-brand {
  font-family: 'AmaticSC';
}
