.home-page {
  .heading-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .title-break {
    flex-basis: 100%;
    height: auto;
    width: 100%;
    margin: 0;
    flex-grow: 2;
  }

  .title-container {
    width: 100vw;
    height: 100vh;
    max-width: 2400px;
    max-height: 100vh;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;

    h1 {
      margin: 0;
      align-self: flex-end;

      svg {
        width: 80vw;
        height: auto;
        overflow: visible;
      }
    }

    h2 {
      margin: 0;
    }
  }
}
