html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  min-width: $body-min-width;
  color: var(--body-font-color);
  background: var(--body-background);

  letter-spacing: 0.33px;
  font-weight: $body-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

img {
  vertical-align: baseline;
}

:focus {
  @include outline;
}

.main-container {
  margin: 0 auto;
  flex-direction: column;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  flex-direction: column;
}

.icon {
  filter: var(--icon-filter);
}

.page {
  width: 70%;
  max-width: $container-max-width;
  min-width: $body-min-width;
  margin: 0 auto;
  padding: $padding-16;
  position: relative;
}

.page:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    position: absolute;
    background-color: var(--body-background);
    opacity: 30%;
    display: block;
    z-index: -1;
}

.languages {
  margin-block-end: $padding-16 * 2;

  .icon {
    height: 1em;
    width: 1em;
    margin-inline-end: .5em;
  }

  ul {
    padding-inline-start: 1.5em;
  }
}

.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity, visibility;
  will-change: transform, margin, opacity;
}

.not-found {
  text-align: center;
}

.not-found h1 {
  margin: .25em 0 0 0;
  opacity: .25;
  font-size: 40vmin;
}

main {
  .heading-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .title-break {
    flex-basis: 100%;
    height: auto;
    width: 100%;
    margin: 0;
    flex-grow: 2;
  }

  .title-container {
    width: 100vw;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    margin-top: 30vh;

    h1 {
      margin: 0;
      align-self: flex-end;

      svg {
        width: 50vw;
        height: auto;
        overflow: visible;
      }
    }

    h2 {
      margin: 0;
    }
  }
}
