input.toggle + label + ul {
  display: none;
}

input.toggle:checked + label + ul {
  display: block;
}

.menu-icon {
  filter: var(--icon-filter);
}

img.menu-icon {
    height: 1em;
    width: 1em;
}

.menu-toggle {
  display: none;
}

.top-menu {
  display: flex;
  width: 100%;
  font-size: $font-size-32;
  font-weight: 700;
  position: absolute;
  top: 0;

  .menu-brand {
    height: fit-content;
    width: fit-content;
    flex-grow: 1;

    a {
      display: block;
    }

    svg {
      width: 50%;
      height: 55%;
      padding: 0px 12px 0px 4px;
      overflow: visible;
    }
  }

  .menu-container {
    margin: 0 auto;
    display: flex;
    flex-grow: 3;
    justify-content: flex-end;

    a {
      color: var(--body-font-color);
      padding: 9px 12px;
      border-radius: 3px;
      align-self: center;
    }
    a:hover {
      color: var(--gray-500);
    }

  }

}

@media (max-width: 700px) {
  #menu-control {
    display: inline
  }
  .menu-toggle {
    display: block;
    align-self: center;
    img {
      margin: 16px 12px;
    }
  }
  .top-menu {
    flex-direction: row-reverse;

    .menu-brand {
      svg {
        width: auto;
        height: 2em;
      }
    }
    .menu-container {
      display: none;
    }
  }

  #menu-control:checked ~ .top-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--body-background);

    .menu-brand {
      display: none;
    }
    .menu-toggle {
      align-self: flex-end;
    }
    .menu-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 3;

      a {
        top: 8px;
      }
      a:hover {
        color: var(--gray-500);
      }
    }
  }
}

@media (max-width: 324px) {
  .top-menu a.button {
    display: none;
  }
}
