
.statement-shape {
  position: absolute;
  top: 0px;
  display: block;
  z-index: -1;
  svg {
    width: 100vw;
    height: auto;
    overflow: visible;
  }
}

.row-colors {
  display: flex;
  width: 100%;
  .color {
    width: 100%;
    padding-top: 15%;
  }
}
