{{ $shape := "square" }}
{{ if page.Param "Shape" }}
{{ $shape = page.Param "Shape" }}
{{ end }}
      <header>
    {{ if eq $shape "square" }}
        <div class="statement-shape">{{- partial "shapes/square" }}</div>
    {{ end }}
    {{ if eq $shape "triangle" }}
        <div class="statement-shape">{{- partial "shapes/triangle" }}</div>
    {{ end }}
      </header>
