  <aside class="top-menu{{ if .Param "Template" }} hidden {{ end }}">
    <label for="menu-control" class="menu-toggle">
        <img src="{{ "svg/menu.svg" | relURL }}" class="menu-icon" alt="Menu">
    </label>
    <div class="menu-brand{{ if eq .Title .Site.Home.Title }} hidden{{ end }}">
      <a href="{{ .Site.Home.RelPermalink }}">{{- partial "page-title" .Site.Home }}</a>
    </div>
    <nav class="menu-container">
  {{- range sort .Site.Sections "Weight" "asc" }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{- end }}
    </nav>
    <div class="menu-footer"></div>
  </aside>
