  {{- with .Title }}
      <svg aria-labelledby="page-title" viewBox="0 -10 120 60">
        <title id="page-title">{{ . }}</title>
        <text x="0" y="0.1em">
        {{- range (split . " ") }}
          <tspan dy=".68em" x="0">{{ . }}</tspan>
        {{- end }}
        </text>
      </svg>
  {{- end -}}
