{{ $transform := delimit (first 1 (shuffle (slice "-24" "10" "310" "40" "350"))) "" }}
{{ $color := delimit (first 1 (shuffle (slice "--main-color" "--dark-shades" "--light-shades" "--dark-accent" ))) "" }}
{{ if page.Param "Transform" }}
{{ $transform = page.Param "Transform" }}
{{ end }}
{{ if page.Param "Color" }}
{{ $color = page.Param "Color" }}
{{ end }}
  <svg viewbox="0 0 5 3">
      <path transform="rotate({{ $transform }})" d="m -1 1 l 4 -1 l 2 8 z" fill="var({{ $color }})" stroke="transparent"></path>
  </svg>
