{{- $context := page }}
{{- if .Get 0 }}
{{- $context = .Site.GetPage ( .Get 0 ) }}
{{- end }}

{{- with $context }}
  <ul>
{{- range .Page.Pages }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{- end -}}
  </ul>
{{- end -}}
